{% extends 'base.html' %}
{% block title %}Insurance{% endblock title %}
{% block body %}
<div class="container" style="text-align:center">
    <h1 id="section1"><a href="https://nationalinsurance.nic.co.in/en/pradhan-mantri-fasal-bima-yojana-pmfby">Pradhan
            Mantri Fasal Bima Yojana</a></h1>
    <p>Insurance protection for food crops, oilseeds and annual horticultural/commercial crops notified by state
        government.
        Uniform maximum premium for all farmers:
        Kharif season - 2% of sum insured.
        Rabi Season 1.5% of sum insured.
        Annual commercial/horticultural crops - 5% of sum insured
        The difference between actual premium and the rate of Insurance payable by farmers shall be shared equally by
        the Centre and State.
        Claims of full Sum Insured (SI), without capping or reduction in SI.
        If the sowing is not done due to adverse weather/climate, claims upto 25% of sum insured will be paid for
        prevented sowing/planting risk.
        When the crop yield is less than the guaranteed yield of notified crops,the claim payment equal to shortfall in
        yield is payable to all insured farmers</p>
    <hr color="black">

    <h1 id="section2"><a href="https://vikaspedia.in/agriculture/agri-insurance/weather-based-crop-insurance">Weather
            Based Crop Insurance Scheme (WBCIS)</a></h1>
    <p>Insurance protection for notified food crops, oilseeds and horticultural /commercial crops
        Uniform maximum premium for all farmers like PMFBY :
        Kharif season - 2% of sum insured.
        Rabi Season 1.5% of sum insured.
        Commercial/horticultural crops 5% of sum insured.
        The difference between actual premium and the rate of Insurance payable by farmers shall be shared equally by
        the Centre and State.
        When the Weather indices (rainfall/temperature/relative humidity/wind speed etc) is different (less/ higher)
        from the Guaranteed Weather Index of notified crops, the claim payment equal to deviation/shortfall is payable
        to all insured farmers of notified area</p>
    <hr color="black">

    <h1 id="section1"><a href="https://www.indiafilings.com/learn/coconut-palm-insurance-scheme">Coconut Palm Insurance
            Scheme (CPIS)</a></h1>
    <p>Insurance protection for Coconut Palm growers.
        Premium rate per palm ranges from Rs. 9.00 (in the plant age group of 4 to 15 years) to Rs. 14.00 (in the plant
        age group of 16-60 years).
        50-75% subsidy of premium is provided to all types of farmers.
        When the palm damaged, the claim payment equal to input cost loss damage is payable to the insured in notified
        areas.</p>
    <hr color="black">

    <h1 id="section2"><a
            href="https://vikaspedia.in/agriculture/agri-insurance/unified-package-insurance-scheme">Unified Package
            Insurance Scheme (UPIS) as pilot in 45 districts</a></h1>
    <p>To provide financial protection and comprehensive risk coverage of crops, assets, life and student safety to
        farmers.Pilot will include 7 section Viz.., - Crop Insurance (PMFBY / WBCIS), Loss of life (Pradhan Mantri
        Jeevan Jyoti Bima Yojna (PMJJBY)), Accident Insurance (Pradhan Mantri Suraksha Bima Yojana - PMSBY) , Student
        safety, Household, Agriculture implements and Tractor.
        Crop insurance will be compulsory. However farmers can choose atleast 2 sections from remaining.
        Farmers may be able to get all requisite insurance products for farmers through one simple proposal/ application
        Form and through single window.</p>
    <hr color="black">
</div>

{% endblock body %}